.header_icon_img{
    height: 55px;
    width: 55px;
}

.form_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 280px;
    background-color: #fff;
}

.form_header_left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form_name{
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    width: 200px;
}

.form_name:focus{
    border-bottom: 1px solid black;
}

.form_header_icon{
    margin-left: 2px;
    color: #8f8f8f;
    font-size: 20px;
    margin-right: 5px;
}

.form_header_right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}