.description_input{
    width: 100%;
}

.text_input_option{
    outline: none;
    border: none;
    letter-spacing: .2px;
    padding: 7px 0px 7px 10px;
    color: #000000;
    cursor: auto;
}

.text_input_border{
    border-bottom: 0.5px solid black !important;
}

.tool_btn{
    padding: 15px 15px !important;
}