.mainbody{
    background-color: white;
    padding: 0 180px
}

.mainbody_top{
    height: 95px;
    position: absolute;
    top: 65%;
    left: 0%;
    transform: rotate(0.75turn) translate(50%, 0%);
    text-transform: uppercase;
}

.mainbody_top_right{
    display: flex;
    align-items: center;
}

.mainbody_top_left{
    font-size: 24px;
    color: #202124;
    font-weight: 700;
    font-family: Montserrat
}

.icon_mainbody{
    font-size: 16px;
    color: black;
}

.icon_doc{
    font-size: 12px;
    color: white;
    /* background-color: #ffc90e; */
    background-color: gray;
    padding: 3px;
    margin-right: 3px;
    border-radius: 2px;
}

.doc_content{
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon_morevert{
    font-size: 16px;
    color: gray;
}

.mainbody_docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.doc_card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 240px;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.doc_card_title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color:black;
    font-family: Montserrat
}

.doc_card_description{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #979797;
    font-family: Montserrat
}

.content_left{
    display: flex;
    flex-direction: column;
}

/* .doc_card:hover{
    border: 0.2px solid #726f66;
} */

.doc_image{
    box-sizing: border-box;
    height: 210px;
    width: 100%;
    border-radius: 20px;
}

.doc_card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 8px;
    background-color: inherit;
    border-radius: 20px;
}

.template{
    height: 100%;
    background-color: inherit;
    transform: translateY(5px);
    position: relative;
}