.slider_flex{
    display: flex;
}

.image_wrapper{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_wrapper img{
    height: 100%;
    width: 100%;
    flex: 1;
    object-fit: cover;
}

.css-cp2j25-MuiSlider-thumb{
    top: 60% !important;
}

.option_another{
    display: flex;
    align-items: center;
}

.option_another span{
    margin-right: 10px;
}

.label_option_another .MuiFormControlLabel-label{
    display: inline-block;
    width: 100%;
}

.image_box{
    display: flex;
}